// tabs
.gallery__tabs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin: 2px 8px 23px;
}
.gallery__tab {
  background-color: var(--white_0);
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  display: grid;
  gap: 2px;

  .shape {
    background-color: var(--grey-light);
    transition: background-color 0.5s;
  }
  
  &:hover, &.gallery__tab--active {
    .shape {
      background-color: var(--blue);
    }
  }
}

// tab - tiles
.gallery__tab--tiles {
  grid-template-columns: repeat(3, 1fr);
  width: 22px;

  .shape {
    width: 6px;
    height: 6px;
  }
}

// tab - list
.gallery__tab--list {
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  width: 24px;
  height: 22px;

  .shape:nth-child(odd) {
    width: 6px;
    height: 6px;
  }
  .shape:nth-child(even) {
    width: 15px;
    height: 2px;
  }
}
