.gallery {
  max-width: 836px;
  margin: 0 auto;
  .gallery__item {
    background-color: var(--white);
  }
  .gallery__item-picture {
    display: block;
  }
  .gallery__item-image {
    width: 100%;
  }
  .gallery__item-content {
    display: grid;
  }
  .gallery__item-label {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 6px;
  }
  .gallery__item-description {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    .icon {
      font-size: 18px;
      margin-right: 8px;
    }
  }
  .gallery__item-text {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  .gallery__item-date {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0;
  }
}

// Tiles
.gallery--tiles {
  .gallery__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px 8px;

    @media (min-width: 480px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 680px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .gallery__item-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8px 10px 18px;
  }
  .gallery__item-list {
    &:nth-child(2) {
      padding-left: 12px;
    }
    &:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
    }
  }
  .gallery__item-date {
    font-size: 12px;
  }
}

// List
.gallery--list {
  .gallery__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
  .gallery__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .gallery__item-image {
    width: 86px;
    height: 86px;
  }
  .gallery__item-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;

    @media (min-width: 600px) {
      gap: 50px;
    }

    @media (min-width: 680px) {
      gap: 60px;
    }

    @media (min-width: 720px) {
      gap: 70px;
    }

    @media (min-width: 768px) {
      gap: 82px;
    }
  }
  .gallery__item-list {
    padding: 15px 15px 0;

    @media (min-width: 768px) {
      padding: 15px 28px 0;
    }

    &:nth-child(1) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .gallery__item-label {
        grid-column: 1 / 3;
        margin-bottom: 8px;
      }
      .gallery__item-description {
        margin-right: 16px;
      }
    }
    &:nth-child(2) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .gallery__item-label {
        grid-column: 1 / 3;
        margin-bottom: 8px;
      }
      .gallery__item-description {
        margin-right: 16px;
      }
    }
  }
  .gallery__item-date {
    font-size: 14px;
    margin-top: 8px;
  }
}

// Button 
.gallery__buttons {
  padding-top: 18px;
  text-align: center;

  .btn-load-more {
    border-radius: 14px;
    padding: 0 24px;
    height: 28px;

    span {
      color: var(--grey);
      font-family: Roboto, sans-serif;
      font-weight: bold;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: .3px;
    }
  }
}