.gallery--list {
  .gallery__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
  .gallery__item {
    display: grid;
    grid-template-columns: 86px calc(100% - 86px);
    gap: 10px;
  }
  .gallery__item-image {
    width: 86px;
    height: 86px;
    display: block;
  }
  .gallery__item-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 4px 24px;
    align-items: center;

    @media (min-width: 480px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .gallery__item-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px 8px;

    &:nth-child(1) {
      .gallery__item-label {
        grid-column: 1 / 3;
        @media (min-width: 480px) {
          margin-bottom: 8px;
        }
      }
      .gallery__item-description {
        gap: 16px;
      }
    }
    &:nth-child(2) {
      .gallery__item-label {
        grid-column: 1 / 3;
        @media (min-width: 480px) {
          margin-bottom: 8px;
        }
      }
      .gallery__item-description {
        gap: 16px;
      }
    }
    &:nth-child(3) {
      grid-column: 1 / 4;
      @media (min-width: 480px) {
        grid-column: auto;
        grid-template-columns: repeat(1, 1fr);
      }
      .gallery__item-text {

      }
      .gallery__item-date {
        font-size: 14px;
        // margin-top: 8px;
      }
    }
  }
}
