.gallery {
  max-width: 836px;
  margin: 0 auto;
  .gallery__item {
    background-color: var(--white);
  }
  .gallery__item-picture {
    display: block;
  }
  .gallery__item-image {
    display: block;
  }
  .gallery__item-content {
    display: grid;
  }
  .gallery__item-label {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  .gallery__item-description {
    display: flex;
    align-items: center;
  }
  .gallery__item-icon {
    display: flex;
    .icon {
      font-size: 18px;
      margin-right: 8px;
    }
  }
  .gallery__item-text {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  .gallery__item-date {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0;
    white-space: nowrap;
  }
}

// Button 
.gallery__buttons {
  padding-top: 18px;
  text-align: center;

  .btn-load-more {
    border-radius: 14px;
    padding: 0 24px;
    height: 28px;

    span {
      color: var(--grey);
      font-family: Roboto, sans-serif;
      font-weight: bold;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: .3px;
    }
  }
}