.logo {
  margin-right: 10px;

  @media (min-width: 768px) {
    margin-left: 86px;
  }
}

.logo__img {
  width: 100px;
  height: 100px;

  @media (min-width: 768px) {
    width: 138px;
    height: 138px;
  }
}