.header {
  background-color: var(--header-bg-color);
  padding: 6px 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 172px;
  box-sizing: border-box;
  box-shadow: inset 0 0 24px 0 var(--black_12), 0 0 24px 0 var(--black_12);
}
.header__wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 0 1em;
  max-width: 730px;
  margin: 0 auto;
}
.header__title {
  font-family: Montserrat, sans-serif !important;
  font-weight: 500 !important;
  font-size: 24px !important;
  letter-spacing: -.1px !important;
  line-height: 100%;
  margin: 0 !important;
  padding-top: 7px;
}
.header__content {
  padding-top: 20px;
  padding-left: 86px;
}

.btn-start-on {
  padding: 0 12px;
  margin-top: 9px;
  border-color: 1px solid var(--blue) !important;
  border-radius: 2px;
  height: 28px;

  span {
    color: var(--blue);
    font-family: Roboto, sans-serif !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    letter-spacing: -.3px !important;
  }
}