@use 'variables';
@use 'globals';
@use 'mixins/index';
@use 'fonts';

@use 'page';
@use 'header';
@use 'header_logo';
@use 'followers';
@use 'period';
@use 'locale_switcher';
@use 'theme_switcher';
@use 'section';
@use 'gallery';
@use 'gallery_tab';
@use 'gallery_list';
@use 'gallery_tiles';
@use 'button';
@use 'date_picker';
